@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.Logo {
}
.Logo_BackImg {
  cursor: pointer;
  background-image: url(../img/clock.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  height: 22.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.Logo_text {
}
.Logo_h1 {
  color: #f5df4d;
  text-align: center;
  font-family: OTEnjoystoriesBA;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 6rem;
}
