/* footer 스타일 시작 */
.cont-footer {
  font-family: Noto Sans KR;
  padding-bottom: 70px;
  font-size: 12px;
  line-height: 17px;
}
.cont-footer .img-footer {
  width: 125px;
  margin-bottom: 20px;
}
/* footer 스타일 끝 */
