@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap");

body,
h2,
p {
  margin: 0;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}
.movie-post {
  border: 1px solid #bdbdbd;
  margin: 10px;
  width: 220px;
  height: 441px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.movie-post img {
  width: 180px;
  height: 250px;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: 19px 20px 0px 20px;
  box-sizing: content-box;
  vertical-align: top;
  display: -webkit-box;
}
.info {
  font-size: 13px;
}
.movie-name {
  margin-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}
.genre {
  background-color: gold;
  border: 1px solid orange;
  /* display: inline-flex; */
  display: -webkit-box;
  white-space: nowrap;
}
.score {
}
.one,
.two,
.three,
.four {
  /* border: 1px solid red;s */
  /* margin: 3px; */
}
.one {
  /* flex: 1px; */
}
.open {
  display: -webkit-box;
}
.appearance {
  display: -webkit-box;
}
.btn {
}
#gray-font {
  color: #828282;
  padding: 10px;
}
