@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap");

body,
h2,
p {
  margin: 0;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}
.movie-post {
  border: 1px solid #bdbdbd;
  margin: 10px;
  width: 220px;
  height: 441px;
  border-radius: 10;
}
.movie-post img {
  width: 180px;
  height: 250px;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: 19px 20px 0px 20px;
  box-sizing: content-box;
  vertical-align: top;
}
.movie-name {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}
.genre {
    
}
.info {
    font-size="13"px;
}
