h1,
h2,
ul,
p {
  margin: initial;
  padding: unset;
}
li {
  list-style-type: none;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
body {
}
/* type selector */
/* 직계부모가 제공해주는 컨텐츠 영역의 크기 ==(컨테이닝 블럭) */
.wrapper {
  background-color: #ddd;
  /* width가 지정되지 않았을때 초기값(initial value) == auto  */
  width: 800px;
  height: auto;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* display의 초기값은 inline */
  /* display: inline; */
  /* border: 10px solid red; */
}
.header {
  background-image: url(./images/cover05.png);
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  color: white;
}
.header img {
  margin: 0 auto;
  display: block;
  /* border: 5px solid white;
  border-radius: 30px; */
}
.header h1 {
  /* background-color: orange; */
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 100px;
}
.header p {
  border-top: 4px solid white;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto;
}
.section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  background-image: url(./images/icon-information.png);
  background-repeat: no-repeat;
  background-position: right 30px center;
}
.skill {
  background-image: url(./images/icon-skills.png);
}
.section h2 {
  /* background-color: gold; */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: salmon;
}
.list li {
  border-left: 5px solid red;
  padding-left: 5px;
}
.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f4f4f4;
}
